
.btn-primary{
    background: #2F74B8;
}
.btn-primary:hover{
    background: #2664a1;
}

.btn-danger{
    background: #E55B5B;
}
.btn-danger:hover{
    background: #d45050;
}

.btn-warning{
    background: #E3C341;
}
.btn-warning:hover{
    background: #ceaf36;
}

.btn-success{
    background: #43DB81;
}
.btn-success:hover{
    background: #3ac571;
}

.btn-default{
    background: #2FB8AA;
}
.btn-default:hover{
    background: #26a89b;
}