@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: koodak, Lucida Sans;
    background-color: #fbfbfb;
}

@font-face {
    font-family: koodak;
    src: url('../assets/fonts/BKoodkBd.ttf');
}